@charset "utf-8";
/* CSS Document */

body {
	width:1024px;
	height:auto;
	padding-left:0px;
	margin:0px auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}
a:hover {
	text-decoration:underline !important;
	color:#0066FF;
}
img {
	border:none;
}

.mainimgwidth{
width:50px;

}
.commentimgwidth{
width:40px;

}
.linkhome {
	float:left;
	/*margin:2px;*/
	color:#3399FF;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
}
.linkport {
	float:left;
	margin-left:5px;margin-top:5px;
	color:#3399FF;
	font-size:13px;
	font-weight:bold;
	text-decoration:none;
}
.linkport_main {
	float:left;
	margin-left:5px;margin-top:3px;
	color:#3399FF;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
	width:
}
.viewmorelink {
	float:right;
	margin:5px;
	color:#3399FF;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;

}
.commentlink{
	float:right;
	margin:0px;
	color:#3399FF;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	margin-bottom:5px;
	margin-right:5px;}
.namelink {
	color:#3399FF;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
}

.feedlink{
	color:#3399FF;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	float:left;
	margin:5px;width:373px;
}
.descfeed{
float:left;margin-left:8px;color:#666666;font-size:12px;
}

#container {
	width:1024px;
	height:auto;
	margin:0px auto;
}
#menu {
	background-color:#FFFFFF;
	width:1002px;
	height:auto;
	padding-top:20px;
	padding-left:20px;
	border:1px solid #CCCCCC;
	float:left;
}
#header {
	width:1024px;
	height:40px;
	background-image:url(../images/header_bg.jpg)
}
.headerimg {
	border:0px;
	padding-left:10px;
	width:auto;
	height:40px;
	float:left;
}
#header span {
	color: #FFFFFF;
	float: right;
	font-size: 14px;
	padding-left: 12px;
	padding-right: 13px;
	padding-top: 10px;
}
#footer {
	width:1024px;
	;
	height:25px;
	float:left;
	color:#FFFFFF;
	background-color:#06A7E2;
	font-size:12px;
}
#menu_left {
	height:541px;
	width:500px;
	float:left;
	border: 1px solid #CBCBC9;
	margin-bottom:20px;
}
#menu_left td span {
	font-size:12px;
	color:#565857;
}
#menu_left td select {
	width:65px;
	height:20px;
	color:#565857;
}
.textfield {
	border: 1px solid #97A6C5;
	height: 13px;
	width: 185px;
}
.textfield1 {
	border: 1px solid #97A6C5;
	height: 13px;
	width: 185px;
	padding-left:2px;
}
#menu_login {
	height:200px;
	;
	width:350px;
	float:left;
	padding-left:112px;
	padding-top:20px;
}
#menu_login span {
	float:left;
	padding-top:50px;
	padding-left:15px;
	font-size:14px;
}
#menu_login img {
	float:left;
	padding-top:5px;
	padding-left:60px;
}
#menu_left td {
	padding-top:15px;
	padding-left:25px;
}
#footer a {
	color:#FFFFFF;
}
#menu_content {
	float:left;
	color:#514D4D;
	height:auto;
	padding-left:10px;
	width:548px;
	line-height:18px;
	font-size:16px;
}
#menu_content li {
	background-image:url(../images/lh.png);
	background-repeat:no-repeat;
	list-style:none;
	padding-left:30px;
	padding-top:9px;
}
#menu_content ul {
	margin:15px;
	padding:0px;
	margin-left:0px;
}
#menu_about {
	float:left;
	width:300px;
	height:40px;
	margin-left:100px;
}
#menu_map {
	float:left;
}
#menu_content span li {
	list-style:none;
}
#menu_content_heading {
	margin-top:15px;
	font-size:16px;
	font-weight:bold;
	padding-left:26px;
	float:left;
}
#menu_content_heading {
	font-size:16px;
	font-weight:bold;
	padding-left:26px;
	float:left;
}
#menu_content span {
	margin-left:0px;
}
#menu_login_right {
	width:425px;
	height:226px;
	border:1px solid #CCCCCC;
	float:left;
}
#menu_login_right span {
	font-weight:bold;
	font-size:14px;
	padding-left:16px;
	padding-top:5px;
	float:left;
	color:#000000;
}
#menu_login_right table {
	float:left;
	padding-left:25px;
	padding-top:7px;
}
#menu_login_right table td {
	padding-top:10px;
}
.textwidth {
	 border: 1px solid #97A6C5;
    font-size: 13px;
   
    margin-right: 15px;

    width: 235px;
}



.texthome_feed {
	 border: 1px solid #97A6C5;
    font-size: 13px;
   padding-left: 0;
    width: 179px;
	color:#666666;
}


#feedtypewrite{padding:7px 5px;}
#feedtypewrite span{padding:0px 10px;}

.textwidth1 {
	border: 1px solid #97A6C5;
	font-size: 14px;
	
	margin-right: 15px;

	width: 194px;
}
#menu_new_member {
	float:left;
	margin-top:50px;
	color:#000000;
	width:auto;
}
#menu_left1 {
	height:550px;
	width:520px;
	float:left;
}
#box_header {
	background-image:url(../images/register_bg.jpg);
	width:auto;
	height:30px;
}
.select {
	border:1px solid #97A6C5;
}
.fontsize {
	font-size:12px;
	color:#5C5E5D;
}
#portsearch {
	float: left;
	height: 35px;
	margin-left: 138px;
	padding-top: 5px;
	width: 399px;
}
#portsearch input {
	width:205px;
	height:19px;
	color:#D2D2D2;
	font-size:13px;
	padding-left:5px;
	padding-top:3px;
	float:left;
}
#portsearch span {
	color: #022A43;
	float: left;
	margin-right: 1px;
	padding-right: 10px;
	padding-top: 6px;
}
#commonright {
	width:213px;
	height:auto;
	margin-top:5px;

	float:left;
}
#searchcrew {
	width:auto;
	height:auto;
	border:1px solid #D7D7D7;
}
#searchcrew input {
	color: #DFDFDF;
    font-size: 12px;
    height: 18px;
    margin-bottom: 5px;
    margin-left: 3px;
    margin-top: 11px;
    width: 131px;
}
#adds {
	height:423px;
	width:214px;
	margin-top:10px;
	border:1px solid #D7D7D7;
	float:left;
}
#yourcrew_box {
	width:auto;
	height:auto;
	border-top:1px solid #D7D7D7;
	margin-top:2px;
}
.boxhead_font {
	color: #000000;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding-left: 6px; padding-top: 4px;

}
.image_pro {
	float: left;

	padding-top: 7px;
}
#mid_content {
	width:599px;
	height:660px;
	float:left;
	margin-top:5px;
	border:1px solid #D7D7D7;
	margin-left:5px;margin-right:5px;
}
#left_content {
	float: left;
	height: 662px;
	margin-left: 10px;
	margin-top: 5px;
	width: 190px;
}
#left_content_in {
	border-right: 1px solid #D7D7D7;
	float: left;
	height: 662px;
	margin-left: 13px;
	margin-top: 0px;
	width: 175px;
}
.leftcontent_span {
	font-weight:bold;
	float:left;
	color:#1674B1;
}
#left_top {
	width:145px;
	height:30px;
	float:left;
	margin-left:5px;
	margin-top:20px;
}
#header_right {
	float: left;
	height: 35px;
	margin-left: 183px;
	padding-top: 3px;
	width: 150px;
}
#header_right1 {
}
#header_right a {
	color:#FFFFFF;
	font-size:10px;
	padding-left:0px;
	text-decoration:none;
}
#header_right a:hover {
	color:#FFFFFF;
	text-decoration:underline;
}
#crewvisited {
	width:577px;
	height:78px;
	border-bottom:1px solid #CCCCCC;

	margin-left:10px;
	float:left;
}
#newcrew_left {
	float: left;
	height: 747px;
	margin-left: 29px;
	margin-right: 21px;
	margin-top: 9px;
	width: 746px;
}
.crewleft {
	color: #0198CF;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: auto;
    padding: 4px;
    text-align: center;
    width: 97px;
}
#newcrew_left a {
	color:#0198CF;
	font-size:12px;
	font-weight:bold;
	padding-left:10px;
	text-decoration:none;
}
#password1 {
	border: 1px solid #CBCBCB;
	height: 235px;
	margin-bottom: 64px;
	margin-left: 170px;
	width: 650px;
	float:left;
}
#password_inner {
	color: #595959;
	margin-left: 54px;
	margin-top: 25px;
}
#password_in {
	color: #595959;
	font-size: 14px;
	margin-bottom: 10px;
	margin-left: 27px;
	margin-top: 20px;
}
#password2 {
	border: 1px solid #CBCBCB;
	height: 130px;
	margin-bottom: 164px;
	margin-left: 170px;
	width: 675px;
	;
}
#password3 {
	border: 1px solid #CBCBCB;
	height: 203px;
	margin-bottom: 64px;
	margin-left: 210px;
	margin-top: 64px;
	width: 613px;
}
#password_in1 {
	color: #595959;
	font-size: 16px;
	margin-bottom: 20px;
	margin-left: 18px;
	margin-top: 20px;
}
#password_inner1 {
	color: #595959;
	margin-left: 128px;
	margin-top: 20px;
	width:auto;
}
#invite_crew {
	border: 1px solid #CBCBCB;
	float: left;
	height: auto;
	margin: 64px 95px 10px 60px;
	width: 654px;
	padding-bottom:10px;
}
#commonright_invite {
	width:213px;
	height:300px;
	margin-top:20px;
	margin-left:5px;
	float:left;
}
.invite_inner1 {
	color: #595959;
	
	margin-bottom: 6px;
	margin-left: 88px;
	margin-top: 6px;
}
#image {
	width:auto;
	height:auto;
	margin-right:50px;
	margin-top:60px;
	float:right;
}
#message_content {
	float: left;
	height: 724px;
	margin-left: 15px;
	margin-top: 10px;
	width: 796px;
}
.message_in {
	width:716px;
	height:78px;
	border: 1px solid #CBCBCB;
	margin-top:10px;
	margin-left:20px;
}
.message_in2 {
	border: 1px solid #97A6C5;
	height: 82px;
	margin-left: 20px;
	width: 716px;
	margin-top:80px;
}
#messagetype {
	height: 300px;
	margin-left: 200px;
	margin-top: 145px;
	width: 555px;
}
.messagetype_pro {
	border: 1px solid #97A6C5;
	height: 125px;
	padding-left: 10px;
	width: 513px;
}
#messagetype span {
	color: #075A7A;
	float: left;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 14px;
}
#profile_middle {
	width:370px;
	height:auto;
	margin-top:20px;
	margin-left:5px;
	float:left;
	margin-top:88px;
	margin-right:10px;
}
.self_intro {
	width:363px;
	height:auto;
	border: 1px solid #CBCBCB;
	float:left;
	margin-bottom:5px;
	padding-bottom:5px;
}
#self_intro_crew {
	width:363px;
	height:160px;
	border: 1px solid #CBCBCB;
	float:left;
	margin-bottom:5px;
}
#profile_left {
	width:425px;
	height:690px;
	float:left;
	margin-top:0px;
}
#profile_map {
	border: 1px solid #CBCBCB;
	height: 263px;
	width: 413px;
	float:left;
}
#portcall {
	width:413px;
	height:auto;
	border: 1px solid #CBCBCB;
	margin-top:12px;
	margin-bottom:5px;
	padding-bottom:5px;
	float:left;
	font-size:13px;
}
#vesselrecord {
	width:413px;
	height:auto;
	border: 1px solid #CBCBCB;
	float:left;padding-bottom:5px;
	font-size:13px;
}
.link {
	color:#56A3FB;
	font-size:12px;
}
#profilephoto {
	height: 205px;
	margin-left: 230px;
	margin-top: 152px;
	width: 414px;
}
.profilephoto_span {
	font-size:18px;
	color:#166681;
	font-weight:bold;
	margin-left:10px;
	margin-top:20px;
	float:left;
}
.profilephoto_img {
	width:82px;
	height:84px;
	margin: 12px 19px;
	float:left;
}
#home_mid {
	width:593px;
	height:auto;
	margin-top:5px;
	margin-bottom:10px;
	float:left;
}
#home_left {
	width:218px;
	height:auto;
	float:left;
	margin-bottom:10px;
}
#port_search {
	width:800px;
	height:765px;
	margin-top:2px;
	margin-left:10px;
	float:left;
}
.port_search_in {
	width:788px;
	height:82px;
	border: 1px solid #CBCBCB;
	float:left;
	margin-top:5px;
}
.port_span {
	color:#0299ce;
	float:left;
	margin-left:5px;
	margin-top:8px;
}
#viewmore {
	height:30px;
	width:760px;
	background-color:#dff6fe;
	float:left;
	margin-top:18px;
}
#ports_of_call {
	width:490px;
	height:550px;
	float:left;
	margin-left:245px;
	margin-top:50px;
}
.ports_head {
	color:#0B5C79;
	font-size:16px;
	margin-top:20px;
	float:left;
	margin-left:10px;
	margin-bottom:5px;
	font-weight:bold;
}
#ports_of_call_top {
	background-color:#F8F8EC;
	width:460px;
	height:145px;
	float:left;
	margin-left:15px;
	margin-top:5px;
}
.textboxpro {
	float: left;
	height: 34px;
	margin: 30px 10px 10px 40px;
	width: 370px;
	border:1px solid #97A6C5;
	
}
.ports_spn {
	float:left;
	margin-left:40px;
	margin-right:30px;
	font-weight:bold;
	color:#38383A;
}



#ports_of_call select {
	margin-right: 14px;
	width: 75px;
}
#selfintro {
	float: left;
	height: 247px;
	margin-left: 192px;
	margin-top: 134px;
	width: 560px;
}
.textboxpro1 {
	float: left;
	height: 128px;
	margin: 10px 10px 10px 8px;
	width: 510px;
	border:1px solid #97A6C5;
}
#vessel_record {
	width:490px;
	height:578px;
	margin-left:210px;
	margin-top:50px;
}
#vessel_record_in {
	float: left;
	height: 195px;
	margin-bottom: 10px;
	margin-left: 20px;
	width: 445px;
	background-color:#F8F8EC;
}
#vessel_record_in select {
	margin-right: 10px;
	width: 75px;
	margin-left:10px;
}
#vessel_record select {
	margin-right: 10px;
	width: 75px;
	margin-left:10px;
}
#basicinformaion {
	width:560px;
	height:646px;
	float:left;
}
.basicinfoinner {
	height: 58px;
	margin-left: 56px;
	margin-top: 10px;
	width: 500px;
}
#movement {
        border: 1px solid #97A6C5;
	width:400px;
	float:left;
	height:400;
	margin-top:10px;
	margin-bottom:400px;
}
.movement_inner {
	height: 243px;
	margin-left: 5px;
	width: 588px;
}
.movement_inner img {
	float:left;
}
.movement_inner .spanstyle1 {
	color:#1B56DE;
	margin-top:11px;
	float:left;
	font-size:13px;
	margin-right:25px;
	font-weight:bold;margin-left:5px;width: 472px;
}
#currenttravel{    float: left;
    margin: 5px;

    width: 544px;}
.comment_tab .tabs{list-style:none;margin:0px;padding:0px;float:left;width:400px;height:20px;}
.comment_tab .tabs li{float:left; font-size:12px;}
.comment_tab .tabs li a{text-decoration:none;}
.commenttextbox{  width: 290px;border:1px solid #97A6C5;}
.movement_inner .spanstyle2 {
	color:#5B5B5B;
	margin-top:14px;
	float:left;
	font-size:12px;
	margin-right:20px;font-weight:bold;
}
.allignright{
float:right !important;
padding-right:10px;
}
.spanstyle2 {
	color:#5B5B5B;
	
	float:left;
	font-size:13px;
	margin-right:20px;
}

 .spanstyle1 {
	color:#1B56DE;
	float:left;
	font-size:14px;
	margin-right:25px;
}

.comment_tab {
	background-color:#F2F2F2;
	width:450px;
	height:auto;
	float:left;
	margin-top:10px;
	margin-left:62px;
	padding:3px;
}
#viewmore1 {
	height:30px;
	width:609px;
	background-color:#dff6fe;
	float:left;
	margin-top:17px;
}
.imagealign {
	margin-top:5px;
	margin-left:5px;
	margin-bottom:5px;
}
#profile_mid_top {
	background-color: #F8F9F1;
	height: 75px;
	width: 578px
}
.profile_inner {
	height: 243px;
	margin-left: 5px;
	width: 588px;
	margin-top:1px;
}
.profile_inner img {
	float:left;
}
#home_portcall {
	border: 1px solid #CBCBCB;
	float: left;
	height: auto;
	margin-top: 5px;
	width: 214px;
}
.home_blk {
	border: 1px solid #CBCBCB;
	float: left;
	height: auto;
	margin-top: 5px;
	width: 214px;
}
#home_crewmates {
	border: 1px solid #CBCBCB;
	float: left;
	height: 275px;
	margin-top: 5px;
	width: 214px;
}
.crewleft1 {
	float: left;
	height: auto;
	padding: 4px 0px 0px 7px;
	width: 63px;
}
.crewleft2 {
	float: left;
	height: auto;
	padding: 4px 0px 0px 5px;
	width: 63px;
}
#search_mid {
	width:565px;
	float:left;
	height:700px;
	margin-top:5px;
}
#search_left {
	width:235px;
	float:left;
	height:700px;
	margin-top:5px;
	margin-right:10px;
}
#searchleftin {
	width:235px;
	float:left;
	height:700px;
	border-right:1px solid #CBCBCB;
	margin-top:3px;
}
.search_in1 {
	width:553px;
	height:75px;
	border: 1px solid #CBCBCB;
	float:left;
	margin-bottom:10px;
}
.searchspan {
	color: #3399FF;
	text-decoration:none;
	float: left;
	font-weight: bold;
	margin: 8px 0px 8px 5px;
	width:470px;
}
.searchmessagespan{color: #0099FF;
	text-decoration:none;
	float: left;
	font-weight: bold;
	margin: 10px 0px 0px 10px;
}
.searchportspan {
	color: #0099FF;
	text-decoration:none;
	float: left;
	font-weight: bold;
	margin: 15px 0px 0px 10px;
}


.searchspan2 {
	color: #003D54;
	float: left;
	font-size: 12px;
	font-weight: bold;
	margin-left: 5px;
	;
	margin-right:20px;
}
.searchleft {
	color:#595959;
	font-size:12px;
}

.userhome {
	width:578px;
	
	background-color:#F8F9F1;
	margin-left:5px;
	margin-bottom:5px;
	border:#CCCCCC 1px solid;
}
.sailing {
	background-color:#DBDBDB;
	width:115px;
	padding:3px 0px;
	margin-left:5px;
	margin-top:5px;
	float:left;
	text-align:center;
}
.sailingspan {
	color: #373737;
	font-size: 14px;
	
	
}
.sailing1 {
	background-color:#F1EFF0;
	width:115px;
	padding:3px 0px;
	margin-left:5px;
	margin-top:5px;
	float:left;
	text-align:center;
}
.sailing_blank {
	background-color:#FFFFFF;
	width:34px;
	height:30px;
	margin-left:5px;
	float:left;
}

.self_intro_span {
	margin-top:0px;
	float:left;
	font-size:13px;font-weight:bold;
	margin-right:5px;
}
.self_intro_span2 {
	margin-right:2px;
	float:left;
	font-size:12px;
	
}
.self_intro_span3 {
	float: left;
	font-size: 13px;
	margin-left: 7px;
	margin-right: 5px;
	margin-top: 2px;
}
.prof_basic_info {
	width:350px;
	float:left;
	height:auto;
	margin-top:2px;
	margin-left:5px;
	font-size:13px;
}
.help a {
	color: #FFFFFF;
	text-decoration: none;
}
.forgotpass a {
	font-size:12px;
	color:#064A9F;
	text-decoration:none;
}
.terms a {
	font-size:12px;
	color:#11A2D7;
}
.messages a {
	float:left;
	margin-top:20px;
	color:#1674B1;
	font-weight:bold;
}
.crewcommon {
	float: left;
	height: auto;
	padding: 4px 0 0 7px;
	width: 63px;
}
.boxhead_font1 {
	color: #000000;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding-left: 6px;
	padding-top: 16px;
}
