<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">

    <!-- Bootstrap theme -->
    <link href="{{ STATIC_URL }}css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}css/theme.css" rel="stylesheet">

    <!-- For sign in form -->
    <link href="{{ STATIC_URL }}css/signin.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body background ="{{STATIC_URL}}images/background.jpeg">

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ExcelBook</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li align="left"><a href="/register/">Sign up</a>
            </li> 
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      </br></br>
      <font color="red"> {{ error_msg }} </font>

      <form class="form-signin" action="/login/" method="post"> 
      {% csrf_token %}

     <a class="ui-button" href="https://www.facebook.com/dialog/oauth?client_id=1418513171702306&scope=email&redirect_uri=http://localhost:8000/facebook/"><img 	src="{{STATIC_URL}}images/fb_button.jpg"/></a>
        <h2 class="form-or-heading" align="center" > OR </h2>  

        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" class="form-control" placeholder="Username" autofocus name="uname">
        <input type="password" class="form-control" placeholder="Password" name="pwd">
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label> 
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
</div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
  </body>
</html>
