<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <!--<title>Starter Template for Bootstrap</title>-->
    <title>Registration Page</title>-->

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">

    <!-- Bootstrap theme -->
    <link href="{{ STATIC_URL }}css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}css/theme.css" rel="stylesheet">

    <!-- For sign in form -->
    <link href="{{ STATIC_URL }}css/signin.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}js/transition.js"></script>
    <script src="{{ STATIC_URL }}js/modal.js"></script>

</head>

<script>

#TODO Javascript validation on each field! Rakesh/Anand

</script>

<body >

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ExcelBook</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
             <li><a href="/login/">Log In</a></li>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

 <div class="container">


 </br></br>
 <font color="red"> {{ error_msg }} </font>


 <table class= "table table-bordered">

 <form class="form-horizontal" role="form" action="/addevent/" method="post" id="reg-form"> {% csrf_token %}

  <tr>
  <div class="form-group">
    <td> <label for="name" class="col-sm-2 control-label">Name</label> </td>
    <td> <div class="col-sm-10">
      <input type="text" class="form-control" id="name" name ="event_name"  placeholder="Name"> 
    </div> </td>
  </div>
  </tr>

<tr>
  <td> <label for="event" class="col-sm-2 control-label">Events</label> </td> 
  <td>
  <div class="radio">
    <label>
      <input type="radio" name="event_type" id="optionsRadios1" value="ctf" checked>
       CTF
    </label>
  </div> 
  <div class="radio"> 
    <label>
      <input type="radio" name="event_type" id="optionsRadios2" value="quiz">
       QUIZ
    </label>
  </div>
  </td>
  </tr>


  <tr>
  <div class="form-group">
    <td> <label for="organiser" class="col-sm-2 control-label">Organiser</label> </td>
    <td> <div class="col-sm-10">
      <input type="text" class="form-control" id="organiser" name = "organiser" placeholder="Organiser"> 
    </div> </td>
  </div>
  </tr>

  <tr>
  <div class="form-group">
    <td> <label for="location" class="col-sm-2 control-label">Location</label> </td>
    <td> <div class="col-sm-10">
      <input type="text" class="form-control" id="location" name = "location" placeholder="location"> 
    </div> </td>
  </div>
  </tr>


  <tr>
  <div class="form-group">
    <td> <label for="date" class="col-sm-2 control-label">Date</label> </td>
    <td> <div class="col-sm-10">
      <input type="date" class="form-control" id="date" name = "date" placeholder="date"> 
    </div> </td>
  </div>
  </tr>

  
  <tr>
  <div class="form-group">
    <td> <label for="websiteurl" class="col-sm-2 control-label">Website</label> </td>
    <td> <div class="col-sm-10">
      <input type="email" class="form-control" id="website"  name = "website" placeholder="website"> 
    </div> </td>
  </div>
  </tr>

    <tr>
  <div class="form-group">
    <td> <label for="description" class="col-sm-2 control-label">Description</label> </td>
    <td> <div class="col-sm-10">
      <textarea rows = "4" cols = "15" class="form-control" id="description" name = "description" placeholder="description"> </textarea>
    </div> </td>
  </div>
  </tr>

  <tr> <td> </td> 
    <td><button type="submit" class="btn btn-primary btn-sm">Submit</button> </td>
  </tr>
 </form>

 </table>
</div>
 </body>
</html>
