
		
{% block title %} User Registered successfully {% endblock %}
{% block script %} 

{% endblock %}
{% block body %}
<table> 
	<tr> <td> <img src="success.png"> </td>
		<td align="left"> <h4> You has been successfully registered. <br/>Please check your mail for the confirmation message  </h4></td>

</table>

{% endblock %}
		
