<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">

    <!-- Bootstrap theme -->
    <link href="{{ STATIC_URL }}css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}css/theme.css" rel="stylesheet">

    <!-- For sign in form -->
    <link href="{{ STATIC_URL }}css/signin.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}js/transition.js"></script>
    <script src="{{ STATIC_URL }}js/modal.js"></script>

</head>

<script>

#TODO Javascript validation on each field! Rakesh/Anand

</script>

<body >

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ExcelBook</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
             <li><a href="/login/">Log In</a></li>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

 <div class="container">


 </br></br>
 <font color="red"> {{ error_msg }} </font>


 <table class= "table table-bordered">

 <form class="form-horizontal" role="form" action="/feed/" method="post" id="feed-form"> {% csrf_token %}

        

		<div class="checkbox">
		  <label>
		    <input name="ctf" type="checkbox" value="">
		    ctf
		  </label>
		</div>

		<div class="checkbox">
		  <label>
		    <input name="quiz" type="checkbox" value="">
		    Quiz
		  </label>
		</div>


        <button type="submit" class="btn btn-primary btn-sm">Join!</button>


 </form>

 </table>
</div>
 </body>
</html>
