<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">

    <!-- Bootstrap theme -->
    <link href="{{ STATIC_URL }}css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}css/theme.css" rel="stylesheet">

    <!-- For sign in form -->
    <link href="{{ STATIC_URL }}css/signin.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}js/transition.js"></script>
    <script src="{{ STATIC_URL }}js/modal.js"></script>

</head>

<script>

#TODO Javascript validation on each field! Rakesh/Anand

</script>

<body >

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ExcelBook</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
             <li><a href="/login/">Log In</a></li>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

 <div class="container">


 </br></br>
 <font color="red"> {{ error_msg }} </font>


 <table class= "table table-bordered">

 <form class="form-horizontal" role="form" action="/register/" method="post" id="reg-form"> {% csrf_token %}


  <tr>
  <div class="form-group">
    <td> <label for="name" class="col-sm-2 control-label">Name</label> </td>
    <td> <div class="col-sm-10">
      <input type="text" class="form-control" id="name" name="name" placeholder="Name"> 
    </div> </td>
  </div>
  </tr>

  <tr>
  <div class="form-group">
    <td> <label for="organitasion" class="col-sm-2 control-label">Organisation</label> </td>
    <td> <div class="col-sm-10">
      <input type="text" class="form-control" id="org" name="org" placeholder="Organisation"> 
    </div> </td>
  </div>
  </tr>

  <tr>
  <div class="form-group">
    <td> <label for="Mobile" class="col-sm-2 control-label">Mobile</label> </td>
    <td> <div class="col-sm-10">
      <input type="tel" class="form-control" id="tel" name="tel" placeholder="mobile"> 
    </div> </td>
  </div>
  </tr>


  <tr>
  <div class="form-group">
    <td> <label for="dob" class="col-sm-2 control-label">DOB</label> </td>
    <td> <div class="col-sm-10">
      <input type="date" class="form-control" name="dob" id="dob" placeholder="date of birth"> 
    </div> </td>
  </div>
  </tr>

  <tr>
  <td> <label for="gender" class="col-sm-2 control-label">Gender</label> </td> 
  <td>
  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios1" value="male" checked>
       Male
    </label>
  </div> 
  <div class="radio"> 
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios2" value="female">
       Female
    </label>
  </div>
  </td>
  </tr>

  <div class="form-group">
    <td> <label for="email" class="col-sm-2 control-label">Email</label> </td>
    <td> <div class="col-sm-10">
      <input type="email" class="form-control" name="email" id="email" placeholder="Email"> 
    </div> </td>
  </div>
  </tr>

  <tr><div class="form-group">
    <td><label for="inputPassword3" class="col-sm-2 control-label">Password</label> </td>
    <td><div class="col-sm-10">
      <input type="password" class="form-control" name="paswd" id="paswd" placeholder="Password">
    </div> </td>
  </div>
  </tr>

  <tr><div class="form-group">
    <td><label for="repassword" class="col-sm-2 control-label">Confirm password</label> </td>
    <td><div class="col-sm-10">
      <input type="password" class="form-control" name="repaswd" id="repaswd" placeholder="Confirm Password">
    </div> </td>
  </div>
  </tr>


  <tr><td></td><td><button type="submit" class="btn btn-primary btn-sm">Create account</button></td></tr>


 </form>

 </table>
</div>
 </body>
</html>
